### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
#data manipulation
dropped=purchase_data.drop_duplicates(subset="SN", keep="last")
del dropped ['Purchase ID']
del dropped ['Age']
del dropped ['Gender']
del dropped ['Item ID']
del dropped ['Item Name']
del dropped ['Price']
count=dropped.count()

print(f"number of players: {count}")

formatdf9 = {'number of players': [count]}
df99 = pd.DataFrame(data=formatdf9)

count

number of players: SN    576
dtype: int64

SN    576
dtype: int64

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
#data manipulation
uniqueitems=purchase_data["Item Name"].value_counts()
uniqueitems1=uniqueitems.count()


suum=purchase_data["Price"].sum()
numberof=purchase_data["Item Name"].count()
avgprice=round(suum/numberof,4)
print(f"There are {uniqueitems1} unique items.  The average price of an item is {avgprice}. There were {numberof} purchases.  The total revenue is ${suum}.")
#output results in text
df_analy= {'Number of unique items': [uniqueitems1],
            'Avg Price': [avgprice],
           'Number of Purchases': [numberof],
           'Total Revenue': [suum]
          }
#create DF and output
df=pd.DataFrame(df_analy, columns=['Number of unique items','Avg Price','Number of Purchases','Total Revenue'])
df

There are 179 unique items.  The average price of an item is 3.051. There were 780 purchases.  The total revenue is $2379.77.

   Number of unique items  Avg Price  Number of Purchases  Total Revenue
0                     179      3.051                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
#data manipulation
genderdata=purchase_data["Gender"].value_counts()
male=genderdata[0]
female=genderdata[1]
other=genderdata[2]

alls=female+other+male
malep=round(male/alls*100,2)
femalep=round(female/alls*100,2)
otherp=round(other/alls*100,2)
#output 
print(f"There are {male} male players.  There are {female} female players.  There are {other} other or non disclosed players")
print(f"Male players make up {malep}% of the population.  Female players make up {femalep}% of the population.  Other or Non identifying player make up {otherp}% of the populataion")

There are 652 male players.  There are 113 female players.  There are 15 other or non disclosed players
Male players make up 83.59% of the population.  Female players make up 14.49% of the population.  Other or Non identifying player make up 1.92% of the populataion


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
onlyboys = purchase_data.loc[purchase_data["Gender"]=="Male",:]
boyscount=onlyboys.count()
boyscount1=boyscount.count()
boyscount1
bpc=onlyboys["SN"].value_counts()
bpc1=bpc.sum()
bavgprice=onlyboys["Price"].mean()
#numberof=purchase_data["Item Name"].count()
bsumprice=onlyboys["Price"].sum()
bavgtotal=round((bavgprice/male)*1000, 2)

onlygirls = purchase_data.loc[purchase_data["Gender"]=="Female",:]
girlscount=onlygirls.count()
girlscount1=onlygirls.count()
gpc=onlygirls["SN"].value_counts()
gpc1=gpc.sum()










print(f"{round(bavgprice, 3)},{uniqueitems1},{round(bsumprice, 3)},{bavgtotal}")
print(f"{gpc1}")

formatdf = {'purchase count': [uniqueitems1], 'average purchace price': [bavgprice], 
            'avg purchace total per person by gender': [gpc1]}
df = pd.DataFrame(data=formatdf)
df

3.018,179,1967.64,4.63
113

,purchase count,average purchace price,avg purchace total per person by gender
0,179,3.017853,113

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [13]:
ageb = [0, 9, 14, 19, 24, 29, 34, 39, 100]
names= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data["age range" ]= pd.cut(purchase_data["Age"], ageb, labels = names)
demodf=purchase_data["age range"].value_counts().rename_axis("age range").reset_index(name="count")
demodf=demodf.sort_values(by='age range', ascending=True)
demodf
total1 = demodf["count"].sum()
mergeme = (demodf["count"]/total1)*100
#count["age percent"]= demodf.apply(lambda row: (demodf["count"]/total1)*100)
#mergeme = pd.DataFrame(data=agepercent)
#mergeme.rename(columns={"count": "percent"})
#merged = pd.merge(demodf, mergeme)
#print(merged)
#i couldnt get the merge to work properly, but by indext these are the percents of each bin
mergeme

6     2.948718
5     3.589744
1    17.435897
0    46.794872
2    12.948718
3     9.358974
4     5.256410
7     1.666667
Name: count, dtype: float64

In [12]:
print(mergeme)

6     2.948718
5     3.589744
1    17.435897
0    46.794872
2    12.948718
3     9.358974
4     5.256410
7     1.666667
Name: count, dtype: float64

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
ageb = [0, 9, 14, 19, 24, 29, 34, 39, 100]
names= ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
ageanalysisdf=purchase_data.copy()
ageanalysisdf["age range"] = pd.cut(ageanalysisdf["Age"], ageb, labels= names)
ageanalysisdf
tab1= ageanalysisdf["SN"].value_counts()
tab1

Lisosia93        5
Idastidru52      4
Iral74           4
Hada39           3
Strithenu87      3
                ..
Chamadarnya73    1
Ryanara76        1
Lirtirra37       1
Shaidanu32       1
Lisico81         1
Name: SN, Length: 576, dtype: int64

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [15]:
tsdf1 = purchase_data.groupby(['SN'])
avgbuy = tsdf1["Price"].sum().rename_axis("SN").reset_index(name="total spent")
ascend3 = avgbuy.sort_values( by = ["total spent"], ascending = False)
ascend3

              SN  total spent
360    Lisosia93        18.96
246  Idastidru52        15.45
106   Chamjask73        13.83
275       Iral74        13.62
281  Iskadarya95        13.10
..           ...          ...
257  Ililsasya43         1.02
277     Irilis75         1.02
32       Aidai61         1.01
117   Chanirra79         1.01
54         Alo38         1.00

[576 rows x 2 columns]

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [10]:
pop1= purchase_data.drop(['SN', 'Age', 'Gender', 'Purchase ID', 'age range'], axis=1)
pop2 = pop1.groupby(['Item Name'])
#pop3 = pop2("Item Name").reset_index(name="Item name")

#pop3 = pop2.apply.sort_values(by= pop2['Price'])
#pop3 = pop2.sort_values(by = pop2["Item ID"], ascending = True, axis= 0)
#pop4.head()

#pop3 = pop2.apply(lambda _df: _df.sort_values(by=pop2['Price']))
pop3=pop2["Price"].value_counts

#pop4= pop3.sort_values( by = ["Price"], ascending = False)

In [11]:
pop2.head()

     Item ID                                  Item Name  Price
0        108  Extraction, Quickblade Of Trembling Hands   3.53
1        143                          Frenzied Scimitar   1.56
2         92                               Final Critic   4.88
3        100                                Blindscythe   3.27
4        131                                       Fury   1.44
..       ...                                        ...    ...
764      113                          Solitude's Reaver   4.07
765      130                                      Alpha   2.07
766       58          Freak's Bite, Favor of Holy Might   4.14
777       67      Celeste, Incarnation of the Corrupted   3.46
779       50                                       Dawn   4.60

[690 rows x 3 columns]

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame